* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-content {
  width: 40%;
  height: 400px;
  text-align: left;
}

.main-visual-text {
  color: #fff;
  padding: 20px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.blog-text {
  padding: 25px 30px;
  border-bottom: 1px solid gray;
}
.blog-box {
  margin: 30px;
}
